/*font*/


.app-apresentacao {
  background: url("/src/images/bg-header.png") no-repeat;
  background-size: cover;
  margin-right: 0px;
  width: 1440px;
  height: 619px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.apres-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1005px;
  height: 326px;
  padding: 217.5px 72px;
}

.app-apresentacao .apres-content h3 {
  padding-top: 150px;
  font-size: 24px;
  font-weight: bold;
}

.apres-titulo{
  width: 1005px;
  height: 180px;
}
.app-apresentacao .apres-titulo h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 58px;
  text-align: center;
  letter-spacing: .2px;
  line-height: 80px;
  
}

.apres-p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  width: 728px;
  height: 96px;
  padding-top: 50px;
}
.app-apresentacao p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.buttons-apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.buttons-apresentacao-item button {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  background: none;
  color: white;
  border: 1px solid white;
  width: 236px;
  height: 68px;
  margin-right: 34px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 200px;
  outline: none;
}

.buttons-apresentacao-item button:hover {
  background-color: #fa4a0c;
  border: none;
}

.cells-mini {
  display: flex;
  width: 100%;
  position: absolute;
  top: 610px;
  align-items: center;
  justify-content: center;
}

.cells-mini img {
  width: 548px;
  height: 640px;
}

@media (max-width: 768.9px){
    .app-apresentacao {
        box-sizing: border-box;
        background-image: none;
        flex-direction: column;
        width: 90%;
        margin-top: 50%;
    }
    .app-apresentacao h3, p {
        color: #737373;
    }
    .app-apresentacao h1 {
        color: #252B42;
    }
    .app-apresentacao p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .buttons-apresentacao {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons-apresentacao-item button{
        color: #fa4a0c;
        border: 1px solid #fa4a0c;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
        padding: 20px;
        transition: .3s;
        outline: none;
    }
    .buttons-apresentacao-item button:hover {
        color: white;
        background-color: #fa4a0c;
    }
    .cells-mini{
      position: unset;
        margin-top: 20%;
        width: 220%;
    }



}