.cells {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 848px;
    height: 940px;
    margin: 0 auto;
    margin-top: -280px;
}
.cells img {
    width: 748px;
    height: 840px;
}

@media (max-width: 415.9px) {
    .cells {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 422px;
        height: 492px;
        margin-top: -200px;
    }
    .cells img {
        width: 120%;
        height: 120%;
        margin-left: -100px;
    }
}