.explore-main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1440px;
    height: 807px;
    margin-left: -80px;
    overflow: hidden;
}
.cell-explore {
    position: relative;
    align-self: flex-start;
    justify-self: flex-start;
    width: 269px;
    height: 525px;
    margin-left: -900px;
}
.explore-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1440px;
    height: 507px;
}
.explore-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-around;
    width: 568px;
    height: 280px;
}
.explore-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.explore-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.explore-text h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    width: 467px;
    color: #737373;
}

@media (max-width: 768.9px) {
    .explore-main{
        flex-direction: column;
        width: 90%;
    }
    .explore-text {
        width: 90%;
    }
    .cell-explore {
        width: 130%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}