

@media (max-width: 768.9px) {
    .explore-main{
        flex-direction: column;
        width: 90%;
    }
    .explore-text {
        width: 90%;
    }
    .cell-explore {
        width: 130%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}