

@media (max-width: 768.9px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .footer-logo {
        display: none;
    }
}