:root {
    --laranja: #FA4A0C;
    --texto: #252B42;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 156px;
}

.header-container:last-child {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 101.76px;
    padding-left: 70px;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 101.76px;
    padding-left: 20px;
}

.menu-mobile, .menu-mobile-itens {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 48px;
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: var(--texto);
    
    transition: .3s;
}

.menu a:hover {
    color: var(--laranja);
}

.menu a:not(#ultimo) {
    margin-right: 94px;
}
.break {
    flex-basis: 100%;
}
.apres-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 619px;
    margin-top: -1px;
    background-image: url(../images/bg-header.png);
    background-size: 1440px 619px;
    background-repeat: no-repeat;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1005px;
    height: 326px;
}

.text-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #F6F6F6;
}

.apres-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1005px;
    height: 180px;
}
.apres-titulo h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFF;
}
.apres-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 728px;
    height: 96px;
}
.apres-p h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #F6F6F6;
}

.buttons-apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 1440px;
    height: 180px;
}
.buttons-apresentacao-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 68px;
    border-radius: 30px;
    margin-right: 40px;
}
.buttons-apresentacao-item button {
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.1px;
    width: 236px;
    height: 68px;
    border-radius: 30px;
    border: 1px solid white;
    color: #FFF;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
.buttons-apresentacao-item button:hover{
    background-color: var(--laranja);
    border: none;
}

@media (max-width: 415.9px){
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 414px;
        height: 112px;
    }
    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 382px;
        height: 78px;
    }
    .menu-mobile{
        display: flex;
    }
    .menu-mobile img {
        width: 40px;
        height: 32px;
    }
    .apres-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        background-image: none;
        flex-direction: column;
        width: 414px;
        height: 778px;
    }
    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 411px;
        height: 282px;
    }
    .text-content h3 {
        font-size: 16px;
        color: #737373;
    }
    .apres-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:362px;
        height: 96px;
    }
    .apres-p h4 {
        text-align: center;
        font-size: 24px;
        color: #737373;
    }
    .apres-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 411px;
        height: 148px;
    }
    .apres-titulo h1 {
        text-align: center;
        color: #252B42;
        font-size: 36px;
        line-height: 42.5px;
        letter-spacing: .2px;
    }
    .buttons-apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 411px;
    }
    .buttons-apresentacao-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 391px;
        height: 128px;
    }
    .buttons-apresentacao-item button{
        color: #fa4a0c;
        border: 1px solid #fa4a0c;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: .3s;
        outline: none;
    }
    .buttons-apresentacao-item button:hover {
        color: white;
        background-color: #fa4a0c;
    }
}