

@media (max-width: 768.9px) {

    .how-to-work{
        display: flex;
        flex-direction: column-reverse;
    }
    .create-account {
        margin-top: 50px;
        width: 90%;
    }
    .cell-login img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 130%;
    }
}