/*Reset*/
* {
  margin: 0;
  padding: 0;
}
/*Padrões*/
body {
  font-family: 'NotoSans-Regular', sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}
@media (max-width: 768.9px){
  body{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}