@media screen and (max-width: 749px){
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 543px){
    .header-container{
        font-size: .8rem;
    }
}